In [2]:
%pip install ucimlrepo

Defaulting to user installation because normal site-packages is not writeable
Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\asus\appdata\roaming\python\python312\site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\asus\appdata\roaming\python\python312\site-packages (from ucimlrepo) (2024.7.4)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\appdata\roaming\python\python312\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\roaming\python\python312\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\roaming\python\python312\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\roaming\python\python312\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np 
import pandas as pd 
import requests

In [3]:
from ucimlrepo import fetch_ucirepo
#fetch dataset 
ozone_level_detection = fetch_ucirepo(id = 172)

#data (as pandas dataframes)

X = ozone_level_detection.data.features
y = ozone_level_detection.data.targets

In [6]:
#metadata 
print(ozone_level_detection.metadata)


#variable information
print(ozone_level_detection.variables)

{'uci_id': 172, 'name': 'Ozone Level Detection', 'repository_url': 'https://archive.ics.uci.edu/dataset/172/ozone+level+detection', 'data_url': 'https://archive.ics.uci.edu/static/public/172/data.csv', 'abstract': 'Two ground ozone level data sets are included in this collection. One is the eight hour peak set (eighthr.data), the other is the one hour peak set (onehr.data). Those data were collected from 1998 to 2004 at the Houston, Galveston and Brazoria area.', 'area': 'Climate and Environment', 'tasks': ['Classification'], 'characteristics': ['Multivariate', 'Sequential', 'Time-Series'], 'num_instances': 2536, 'num_features': 72, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['Class'], 'index_col': ['Dataset', 'Date'], 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2008, 'last_updated': 'Fri Mar 29 2024', 'dataset_doi': '10.24432/C5NG6W', 'creators': ['Kun Zhang', 'Wei Fan', 'XiaoJing Yuan'], 'intro_paper': None, 'additional_info': {'summary': 'For a list of attributes, please refer to those two .names files.  They use the following naming convention:\r\n\r\nAll the attribute start with T means the temperature measured at different time throughout the day; and those starts with WS indicate the wind speed at various time.\r\n\r\nWSR_PK:     continuous. peek wind speed -- resultant (meaning average of wind vector)\r\n\r\nWSR_AV:     continuous. average wind speed\r\n\r\nT_PK:     continuous. Peak T\r\nT_AV:     continuous. Average T\r\nT85:     continuous. T at 850 hpa level (or about 1500 m height)\r\nRH85:     continuous. Relative Humidity at 850 hpa\r\nU85:     continuous. (U wind - east-west direction wind at 850 hpa)\r\nV85:     continuous. V wind - N-S direction wind at 850\r\nHT85:     continuous. Geopotential height at 850 hpa, it is about the same as height at low altitude\r\nT70:     continuous. T at 700 hpa level (roughly 3100 m height)\r\n\r\nRH70:     continuous.\r\nU70:     continuous.\r\nV70:     continuous.\r\nHT70:     continuous.\r\n\r\nT50:     continuous. T at 500 hpa level (roughly at 5500 m height)\r\n\r\nRH50:     continuous.\r\nU50:     continuous.\r\nV50:     continuous.\r\nHT50:     continuous.\r\n\r\nKI:     continuous. K-Index http://www.weather.gov/glossary/index.php?letter=k\r\nTT:     continuous. T-Totals http://www.theweatherprediction.com/habyhints/302/\r\nSLP:     continuous. Sea level pressure\r\nSLP_:     continuous. SLP change from previous day\r\n\r\nPrecp:    continuous. -- precipitation', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'The following are specifications for several most important attributes that are highly valued by Texas Commission on Environmental Quality (TCEQ). More details can be found in the two relevant papers.\r\n \r\nO 3 - Local ozone peak prediction\r\nUpwind - Upwind ozone background level\r\nEmFactor - Precursor emissions related factor\r\nTmax - Maximum temperature in degrees F\r\nTb - Base temperature where net ozone production begins (50 F)\r\nSRd - Solar radiation total for the day\r\nWSa - Wind speed near sunrise (using 09-12 UTC forecast mode)\r\nWSp - Wind speed mid-day (using 15-21 UTC forecast mode) \r\n\r\nPlease refer to those two .names files.', 'citation': None}}
       name     role         type demographic description units missing_values
0   Dataset       ID  Categorical        None        None  None             no
1      Date       ID         Date        None        None  None             no
2      WSR0  Feature   Continuous        None        None  None            yes
3      WSR1  Feature   Continuous        None        None  None            yes
4      WSR2  Feature   Continuous        None        None  None            yes
..      ...      ...          ...         ...         ...   ...            ...
70       TT  Feature   Continuous        None        None  None            yes
71      SLP  Feature      Integer        None        None  None            yes
72     SLP_  Feature      Integer        None        None  None            yes
73    Precp  Feature   Continuous        None        None  None             no
74    Class   Target       Binary        None        None  None             no

[75 rows x 7 columns]

In [7]:
X.head()

,WSR0,WSR1,WSR2,WSR3,WSR4,WSR5,WSR6,WSR7,WSR8,WSR9,...,T50,RH50,U50,V50,HT50,KI,TT,SLP,SLP_,Precp
0,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,-15.5,0.15,10.67,-1.56,5795.0,-12.10,17.9,10330.0,-55.0,0.00
1,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,-14.5,0.48,8.39,3.84,5805.0,14.05,29.0,10275.0,-55.0,0.00
2,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,-15.9,0.60,6.94,9.80,5790.0,17.90,41.3,10235.0,-40.0,0.00
3,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,-16.8,0.49,8.73,10.54,5775.0,31.15,51.7,10195.0,-40.0,2.08
4,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.58

In [8]:
y.head()

   Class
0      0
1      0
2      0
3      0
4      0

In [9]:
y.nunique()

Class    2
dtype: int64

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5070 entries, 0 to 5069
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WSR0    4472 non-null   float64
 1   WSR1    4486 non-null   float64
 2   WSR2    4482 non-null   float64
 3   WSR3    4486 non-null   float64
 4   WSR4    4484 non-null   float64
 5   WSR5    4486 non-null   float64
 6   WSR6    4488 non-null   float64
 7   WSR7    4492 non-null   float64
 8   WSR8    4490 non-null   float64
 9   WSR9    4496 non-null   float64
 10  WSR10   4494 non-null   float64
 11  WSR11   4486 non-null   float64
 12  WSR12   4496 non-null   float64
 13  WSR13   4494 non-null   float64
 14  WSR14   4494 non-null   float64
 15  WSR15   4498 non-null   float64
 16  WSR16   4502 non-null   float64
 17  WSR17   4504 non-null   float64
 18  WSR18   4498 non-null   float64
 19  WSR19   4486 non-null   float64
 20  WSR20   4482 non-null   float64
 21  WSR21   4484 non-null   float64
 22  WSR22   4470 non-null   float64
 23  WSR23   4476 non-null   float64
 24  WSR_PK  4524 non-null   float64
 25  WSR_AV  4524 non-null   float64
 26  T0      4690 non-null   float64
 27  T1      4700 non-null   float64
 28  T2      4696 non-null   float64
 29  T3      4702 non-null   float64
 30  T4      4702 non-null   float64
 31  T5      4704 non-null   float64
 32  T6      4704 non-null   float64
 33  T7      4704 non-null   float64
 34  T8      4700 non-null   float64
 35  T9      4700 non-null   float64
 36  T10     4694 non-null   float64
 37  T11     4686 non-null   float64
 38  T12     4692 non-null   float64
 39  T13     4688 non-null   float64
 40  T14     4686 non-null   float64
 41  T15     4696 non-null   float64
 42  T16     4702 non-null   float64
 43  T17     4706 non-null   float64
 44  T18     4702 non-null   float64
 45  T19     4694 non-null   float64
 46  T20     4692 non-null   float64
 47  T21     4700 non-null   float64
 48  T22     4686 non-null   float64
 49  T23     4692 non-null   float64
 50  T_PK    4720 non-null   float64
 51  T_AV    4720 non-null   float64
 52  T85     4872 non-null   float64
 53  RH85    4860 non-null   float64
 54  U85     4710 non-null   float64
 55  V85     4710 non-null   float64
 56  HT85    4880 non-null   float64
 57  T70     4856 non-null   float64
 58  RH70    4840 non-null   float64
 59  U70     4756 non-null   float64
 60  V70     4756 non-null   float64
 61  HT70    4870 non-null   float64
 62  T50     4840 non-null   float64
 63  RH50    4820 non-null   float64
 64  U50     4650 non-null   float64
 65  V50     4650 non-null   float64
 66  HT50    4846 non-null   float64
 67  KI      4798 non-null   float64
 68  TT      4820 non-null   float64
 69  SLP     4880 non-null   float64
 70  SLP_    4753 non-null   float64
 71  Precp   5066 non-null   float64
dtypes: float64(72)
memory usage: 2.8 MB

In [11]:
X.isnull().sum()

WSR0     598
WSR1     584
WSR2     588
WSR3     584
WSR4     586
        ...
KI       272
TT       250
SLP      190
SLP_     317
Precp      4
Length: 72, dtype: int64

In [12]:
X = X.dropna()

In [13]:
X.shape

(3695, 72)

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3695 entries, 0 to 5069
Data columns (total 72 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WSR0    3695 non-null   float64
 1   WSR1    3695 non-null   float64
 2   WSR2    3695 non-null   float64
 3   WSR3    3695 non-null   float64
 4   WSR4    3695 non-null   float64
 5   WSR5    3695 non-null   float64
 6   WSR6    3695 non-null   float64
 7   WSR7    3695 non-null   float64
 8   WSR8    3695 non-null   float64
 9   WSR9    3695 non-null   float64
 10  WSR10   3695 non-null   float64
 11  WSR11   3695 non-null   float64
 12  WSR12   3695 non-null   float64
 13  WSR13   3695 non-null   float64
 14  WSR14   3695 non-null   float64
 15  WSR15   3695 non-null   float64
 16  WSR16   3695 non-null   float64
 17  WSR17   3695 non-null   float64
 18  WSR18   3695 non-null   float64
 19  WSR19   3695 non-null   float64
 20  WSR20   3695 non-null   float64
 21  WSR21   3695 non-null   float64
 22  WSR22   3695 non-null   float64
 23  WSR23   3695 non-null   float64
 24  WSR_PK  3695 non-null   float64
 25  WSR_AV  3695 non-null   float64
 26  T0      3695 non-null   float64
 27  T1      3695 non-null   float64
 28  T2      3695 non-null   float64
 29  T3      3695 non-null   float64
 30  T4      3695 non-null   float64
 31  T5      3695 non-null   float64
 32  T6      3695 non-null   float64
 33  T7      3695 non-null   float64
 34  T8      3695 non-null   float64
 35  T9      3695 non-null   float64
 36  T10     3695 non-null   float64
 37  T11     3695 non-null   float64
 38  T12     3695 non-null   float64
 39  T13     3695 non-null   float64
 40  T14     3695 non-null   float64
 41  T15     3695 non-null   float64
 42  T16     3695 non-null   float64
 43  T17     3695 non-null   float64
 44  T18     3695 non-null   float64
 45  T19     3695 non-null   float64
 46  T20     3695 non-null   float64
 47  T21     3695 non-null   float64
 48  T22     3695 non-null   float64
 49  T23     3695 non-null   float64
 50  T_PK    3695 non-null   float64
 51  T_AV    3695 non-null   float64
 52  T85     3695 non-null   float64
 53  RH85    3695 non-null   float64
 54  U85     3695 non-null   float64
 55  V85     3695 non-null   float64
 56  HT85    3695 non-null   float64
 57  T70     3695 non-null   float64
 58  RH70    3695 non-null   float64
 59  U70     3695 non-null   float64
 60  V70     3695 non-null   float64
 61  HT70    3695 non-null   float64
 62  T50     3695 non-null   float64
 63  RH50    3695 non-null   float64
 64  U50     3695 non-null   float64
 65  V50     3695 non-null   float64
 66  HT50    3695 non-null   float64
 67  KI      3695 non-null   float64
 68  TT      3695 non-null   float64
 69  SLP     3695 non-null   float64
 70  SLP_    3695 non-null   float64
 71  Precp   3695 non-null   float64
dtypes: float64(72)
memory usage: 2.1 MB

In [16]:
y.sample(n = 10)

      Class
3197      0
3536      0
339       0
836       0
4160      0
3211      0
1061      0
499       0
5057      0
2899      0

In [18]:
y.nunique()

Class    2
dtype: int64

In [19]:
y.value_counts()

Class
0        4837
1         233
Name: count, dtype: int64